﻿@model dynamic

@{
    ViewBag.Title = "Recordlabel Detail";
    Layout = "_Layout";
}

<h1>Recordlabel Detail</h1>

<article>
    <form>
        <div class="form-group">
            <div class="form-group">
                <label>Name</label>
                <input id="name" type="text" class="form-control">
            </div>
            <span class="text-danger" id="nameValidation"></span>
            <div class="form-group">
                <label>Date Founded</label>
                <input id="dateFounded" type="date" class="form-control">
            </div>
            <span class="text-danger" id="dateFoundedValidation"></span>
            <div class="form-group">
                <label>Location</label>
                <input id="location" type="text" class="form-control">
            </div>
            <span class="text-info" id="confirmationSpan"></span>
        </div>
        <button type="button" id="save" class="btn btn-primary">Save Changes</button>
    </form>
</article>

@section Scripts {
    <script src="/js/RecordLabel/detail.js"></script>
}