﻿@model dynamic

@{
    ViewBag.Title = "All Recordlabels";
    Layout = "_Layout";
}

<h1>All Recordlabels</h1>

<article>
    <table class="table">
        <thead>
            <tr> <th>Name</th> <th>Date Founded</th> <th></th> </tr>
        </thead>
        <tbody id="recordLabelTableBody"></tbody>
    </table>
    
    <p>
        <button class="btn btn-primary" id="loadRecordLabels">Refresh recordlabel list</button>
    </p>
</article>

@section Scripts {
    <script src="/js/RecordLabel/index.js"></script>
}