﻿@model MusicManager.BL.Domain.Song

@{
    ViewBag.Title = "Song Detail";
    Layout = "_Layout";
}

<h1>Song Detail</h1>

<article>
    <table class="table table-borderless">
        <tr>
            <th scope="col">Title</th>
            <td>@(Model.Title ?? "Empty")</td>
        </tr>
        <tr>
            <th scope="col">Length</th>
            <td>@Model.Length.ToString("mm':'ss")</td>
        </tr >
        <tr>
            <th scope="col">Release date</th>
            <td>@Model.ReleaseDate.ToString("dd/MM/yyyy")</td>
        </tr>
        <tr>
            <th scope="col"># Streams</th>
            <td>@(Model.AmountOfStreams == null ? "None" : Model.AmountOfStreams)</td>
        </tr>
        <tr>
            <th scope="col">Genre</th>
            <td>@Model.Genre</td>
        </tr>
    </table>
</article>


<h2>Artists</h2>

<article>
    <table class="table">
        <tr>
            <th scope="col">Alias</th>
            <th scope="col"># Followers</th>
            <th scope="col"></th>
        </tr>
        @foreach (var songContribution in Model.SongContributions)
        {
            var parms = new Dictionary<string, string>
                {
                    { "artistId", $"{songContribution.Artist.Id}" },
                };

            <tr>
                <td>@(songContribution.Artist.Alias ?? "Empty")</td>
                <td>@songContribution.Artist.AmountOfFollowers</td>
                <td><a class="" asp-area="" asp-controller="Artist" asp-all-route-data="parms" asp-action="Detail" asp-route-id="@songContribution.Artist.Id">Details</a></td>
            </tr>
        }
    </table>
</article>


