﻿@model IEnumerable<MusicManager.BL.Domain.Song>

@{
    ViewBag.Title = "All Songs";
    Layout = "_Layout";
}

<h1>All Songs</h1>

<article>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Length</th>
                <th scope="col"># Streams</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var song in Model)
        {
            <tr>
                <td>@(song.Title ?? "Empty")</td>
                <td>@song.Length.ToString("mm':'ss")</td>
                <td>@(song.AmountOfStreams == null ? "None" : song.AmountOfStreams)</td>
                <td><a class="" asp-area="" asp-controller="Song" asp-action="Detail" asp-route-id="@song.Id">Details</a></td>
            </tr>
        }
        </tbody>
    </table>
</article>
