﻿@model MusicManager.BL.Domain.Artist

@{
    ViewBag.Title = "Artist Detail";
    Layout = "_Layout";
}

<h1>Artist Detail</h1>

<article>
    <table class="table table-borderless table">
        <tr>
            <th scope="col">Name</th>
            <td>@(Model.Name ?? "Empty")</td>
        </tr>
        <tr>
            <th scope="col">Alias</th>
            <td>@(Model.Alias ?? "Empty")</td>
        </tr>
        <tr>
            <th scope="col">Total revenue</th>
            <td>@Model.TotalRevenue</td>
        </tr>
        <tr>
            <th scope="col"># Followers</th>
            <td>@Model.AmountOfFollowers</td>
        </tr>
        <tr>
            <th scope="col">Signed Record Label</th>
            <td>@Model.SignedRecordLabel.Name</td>
        </tr>
        <tr>
            <th scope="col">Manager</th>
            <td>@Model.Manager.FirstName @Model.Manager.LastName</td>
        </tr>
    </table>
    
    <h2>Songs</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Length</th>
                <th scope="col"># Streams</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="songsOfArtistTableBody"></tbody>
    </table>

    <h2>Add Song</h2>
    <form>
        <div class="form-group">
            <div class="form-group">
                <label>Song</label>
                <select class="form-control" id="selectSong"></select>
            </div>
            <div class="form-group">
                <label>Type of contribution</label>
                <select class="form-control" id="selectContributionType"></select>
            </div>
            <span class="text-info" id="confirmationSpan"></span>
        </div>
        <button type="button" id="addSong" class="btn btn-primary">Add song to artist</button>
    </form>
    
    
</article>

@section Scripts {
    <script src="/js/Artist/detail.js"></script>
}